{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokédex</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/public/styles.css'>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>

<body>
    <div class="text-center text-5xl text-primary-500">Pokémon</div>
    <div class="overflow-x-auto flex flex-col items-center join">
        <div class="w-1/3 flex justify-between btn btn-square btn-neutral join-item">
            <div class="w-1/12"></div>
            <div class="w-1/12">Id</div>
            <div class="w-3/12">Name</div>
            <div class="w-3/12">Type</div>
        </div>
        {{ range . }}
        <a class="w-1/3 flex justify-between btn btn-square join-item" href="/{{ .Id}}">
            <div class="w-1/12">
                <div class="tooltip" data-tip="{{ .Name }}">
                    <img class="w-full" src="sprites/{{ .Sprite }}" alt="{{ .Name }}">
                </div>
            </div>
            <div class="w-1/12">{{ .Id }}</div>
            <div class="w-3/12">{{ .Name }}</div>
            <div class="w-3/12">
                <td>
                    <div class="flex space-x-1 justify-center">
                        {{ range .Types }}
                        <div class="tooltip" data-tip="{{ . }}">
                            <img class="size-5" src="elements/{{ . }}.png" alt="{{ . }}">
                        </div>
                        {{ end }}
                    </div>
                </td>
            </div>
        </a>
        {{ end }}
    </div>
</body>

</html>
{{ end }}